<div class="center_everything">
<h1> You have added to cart! </h1>
<h2>Ordered: <%= @order.product.name%></h2>
<h2>Order Quanitiy: <%= @order.quantity%></h2>
<h2>Order Subtotal: <%= number_to_currency(@order.subtotal)%></h2>
<h2>Order Tax: <%= number_to_currency(@order.tax)%></h2>
<h2>Order Total: <%= number_to_currency(@order.total)%></h2>
<p><a class="btn btn-info btn-md" href="/products" role="button">Click Here to Go Home</a></p>
