
<div class="center_everything" >

<h1 class="product_edit"> Edit Product: <%= @product.name%> </h1>

<%= form_tag "/products/#{@product.id}", method: :patch do %>

    <div class="product_edit">
    <%= label_tag :name %>
    <%=text_field_tag :name, @product.name %>
    </div>

    <div class="product_edit">
    <%= label_tag :price %>
    <%=text_field_tag :price, @product.price%>
    </div>
    <div class="product_edit">
    <%= label_tag :image %>
    <%=text_area_tag :image, @product.image %>
    </div>
    <div class="product_edit">
    <%= label_tag :description %>:
    <%=text_area_tag :description, @product.description %>
    </div>
    <div>
    <%= label_tag :supplier_id, "Supplier" %>:
    <%= collection_select :supplier_id, @product.supplier_id%>
    </div>
  <div>  
  <%= submit_tag "Save Changes", class: "btn btn-info btn-md"%>
  </div>
<% end -%>

