<div class="center_everything">
<h1> Edit Product: <%= @product.name%> </h1>

<%= form_tag "/products/#{@product.id}", method: :patch do %>


    <%= label_tag :name %>
    <%=text_field_tag :name, @product.name %>



  <%= label_tag :price %>
  <%=text_field_tag :price, @product.price%>


  <%= label_tag :image %>
  <%=text_area_tag :image, @product.image %>


  <%= label_tag :description %>:
  <%=text_area_tag :description, @product.description %>

  
  <%= submit_tag "Save Changes" %>
  </div>
<% end -%>
