<title>My Store</title>

<div class="container">

  <div class="row">

  <% @products.each do |product|%>

  <div class="col-md-6">
    <div class="jumbotron">
      <div class="center_everything">
        <h2><%= product.name.capitalize%></h2>
        <a href="/products/<%= product.id %>">
        <img src=<%= product.image %>
        </a>
        <p><%= truncate(product.description, length: 25) %></p>
        <p><a class="btn btn-pink btn-md" href="/products/<%= product.id %>" role="button" id="price"><%= number_to_currency(product.price * 1.09) %></a>
      </div>
    </div>
  </div>
  <% end -%>
</div>
