
<div class="center_everything">
  <h1 class="product_edit"> <%= @product.name%> </h1>
  <img src=<%= @product.image %>></p>
  <p class="product_edit"><%= @product.description %></p>
  <p><a class="btn btn-info btn-md" href="/products/<%= @product.id %>/edit" role="button">Edit</a></p>
  <p><%= link_to "Delete Item", "/products/#{@product.id}", method: :delete , class: "btn btn-danger"%></p>
  <p><a class="btn btn-info btn-md" href="/products" role="button">Click Here to Go Home</a></p>
</div>