<title>My Store</title>
<div class="well well-lg"><center>Welcome to My Store!</center></div>
<div class="container">

  <div class="row">

  <% @view_products.each do |product|%>

  <div class="col-md-6">
    <div class="jumbotron">
      <div class="center_everything">
        <p><%= link_to product.name.capitalize, "/products/#{product.id}" %></p>
        <a href="/products/<%= product.id %>">
        <img src=<%= product.image %>
        </a>
        <p><%= product.description %></p>
        <p><a class="btn btn-info btn-md" href="/products/<%= product.id %>" role="button"><%= number_to_currency(product.price * 1.1) %></a>
        <a class="btn btn-info btn-md" href="/products/<%= product.id %>/edit" role="button">Edit</a></p>
      </div>
    </div>
  </div>
  <% end -%>
</div>
